In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('data/train.csv')
train.columns

Index(['label', 'pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5',
       'pixel6', 'pixel7', 'pixel8',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=785)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(train.iloc[:,1:], train["label"])

In [5]:
pipe = Pipeline([
    ('svc', SVC())
])

In [6]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('svc', SVC())])

In [7]:
y_pred = pipe.predict(X_test)

In [8]:
accuracy_score(y_test, y_pred)

0.9765714285714285

In [26]:
pd.DataFrame(confusion_matrix(y_test, y_pred), index = pipe.classes_, columns = pipe.classes_)

      0     1     2     3    4    5     6     7    8     9
0  1052     0     1     1    0    2     6     0    2     2
1     0  1213     4     0    2    0     0     2    0     1
2     1     5  1061     0    1    0     3     7    4     1
3     1     0    14  1058    0   17     0     5    7     6
4     0     1     2     0  984    0     2     2    0    11
5     4     1     3     7    3  926     7     1    4     2
6     1     2     0     0    2    1  1021     0    2     0
7     0     2     6     0    8    1     1  1032    1     6
8     2     3     5     6    3    4     3     1  898     2
9     3     2     2     6   13    0     0    11    2  1009

In [9]:
test = pd.read_csv('data/test.csv')
test.columns

Index(['pixel0', 'pixel1', 'pixel2', 'pixel3', 'pixel4', 'pixel5', 'pixel6',
       'pixel7', 'pixel8', 'pixel9',
       ...
       'pixel774', 'pixel775', 'pixel776', 'pixel777', 'pixel778', 'pixel779',
       'pixel780', 'pixel781', 'pixel782', 'pixel783'],
      dtype='object', length=784)

In [10]:
output = pipe.predict(test)
output

array([2, 0, 9, ..., 3, 9, 2])

In [11]:
df = pd.DataFrame(data = {
    'ImageId': range(1, test["pixel0"].size + 1),
    'Label': output
})
df.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [58]:
df.to_csv('submission.csv', index=False)

In [60]:
!kaggle competitions submit -c digit-recognizer -f "submission.csv" -m "Submission using simple SVC"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/renanlf/.kaggle/kaggle.json'
100%|█████████████████████████████████████████| 208k/208k [00:01<00:00, 107kB/s]
Successfully submitted to Digit Recognizer